
body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#232323;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;

}
.addDancerButton{
  padding:5px 12px;
  float:right;
}
.planet{
  padding:5px 12px;
  float:left;
}
.lineUp{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #fff;
}
.title{
  padding:5px 12px;
  padding-left: 15%;
  background-color: #fff;
}
.dancer{
  border:10px solid #b0e0E6;
  border-radius:10px;
  position:absolute;
}
.earth {
  position: fixed; /* or absolute */
  top: 42.5%;
  left: 42.5%;
  background: #232323;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background: radial-gradient(circle at 100px 100px, gold, #000);
}
